<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Room Chat</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/user-profile" *ngIf="isLoggedin">Profile</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!isLoggedin" routerLink="/signin">Log in</a>
      </li>
      <li class="nav-item">
        <a routerLink="/signup">Sign up</a>
      </li>
    </div>
     <button class="btn btn-danger" (click)="logOut()" *ngIf="isLoggedin">Sign-out</button>
  </nav>


  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
