<div class="container">
    <form [formGroup]="userForm" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" [formControlName]="user.name" [ngModel]="user.name" name="name">
            <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                <div *ngIf="f.name.errors.required">Name is required.</div>
                <div *ngIf="f.name.errors.minlength">Nhap it nhat 6 ky tu</div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" [formControlName]="user.email" [ngModel]="user.email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" [formControlName]="user.password" [ngModel]="user.password">
        </div>
        <div class="form-group">
            <label for="password">Password confirmation</label>
            <input type="password" class="form-control" id="password" [formControlName]="user.password" [ngModel]="user.password">
        </div>
        <button (click)="addUser()" routerLink="listUser" class="btn btn-sm btn-primary">Add</button>
    </form>
</div>
